<div class="card">
    <div class="card-header">
        Developer
    </div>
    <div class="card-body info-card">
        <div class="info-card-details">
            <p class="card-text label">Javokhirbek Akhmedov</p>
            <div class="info-contacts-container">
                <i class="fa-solid fa-phone icon"></i>
                <p class="card-text label">+998-97-717-54-74</p>
            </div>
            <div class="info-contacts-container">
                <i class="fa-solid fa-at icon"></i>
                <p class="card-text label">j.ahmedov.m@gmail.com</p>
            </div>
        </div>
    </div>
</div>
<div class="extra-tools-container">
    <p class="extra-tool label"><a href="{% url 'about' %}">About</a></p>
    <p>|</p>
    <p class="extra-tool label"><a href="/swagger">API</a></p>
</div>
