{% extends 'news/base.html' %}

{% block title %}
    iTechDaily :: API Guide
{% endblock %}

{% block content %}
    <div class="card mb-3 content-card">
          <div class="card-body">
            <div class="content-title label">
                <h2>API Guide</h2>
            </div>
            <p class="card-text">
                This is news website about latest technologies.
                Here you get the latest technology news in several categories.
                If you want to use this news in your own application, then you can use our API.
                It is totally free, just follow the guide in the API page.
                <br>
                Feel free to contact us if you have any ideas or questions.
            </p>
          </div>
        </div>
{% endblock %}
